* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: #333;
}
nav li {
    display: inline-block;
}
nav li a {
    display: inline-block;
    color:#fff;
    text-decoration: none;
    padding: 15px;
}
nav li a:hover {
    background-color: #ffa500;
    
}
.dropdown-menu{
    position: absolute;
    box-shadow: 0 0 2px #000;
    display: none;
}
.dropdown-menu a {
    display: block;
    color: #000;
}


.dropdown:hover .dropdown-menu {
    display: block;
    background-color: #808080;
    
}
 
   